@charset "utf-8";

@media screen and (max-width: 600px) {

.worktable {
 border: 0;
}

.worktable thead {
 display: none;
}

.worktable tr {
 margin-bottom: 10px;
 display: block;
 border-bottom: 2px solid #aaa;
}

.worktable th, .worktable td {
 border: none;
}

.worktable td {
 display: block;
 text-align: right;
 border-bottom: 1px dotted #ccc;
}

.worktable td:last-child {
 border-bottom: 0;
}

.worktable td:before {
 content: attr(data-label);
 float: left;
 text-transform: uppercase;
 font-weight: bold;
}
}